* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.nav-header {
    width: 100%;
}

.img-header {
    height: 121px;
    width: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-header img {
    height: 95px;
    width: 108px;
}

.container-header {
    display: flex;
    width: 80%;
}

.nav-first{
    display: flex;
    height: 64px;
    align-items: center;
    font-size: 14px;
}

.contact-header, .order-header {
    width: 50%;
}

.order-header {
    display: flex;
    justify-content: end;
}

.order-header ul {
    display: flex;
    align-items: center;
}

#order {
    background-color: #ffbc0d;
    border-color: transparent;
    border-radius: 5px;
    color: rgba(0,0,0,.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 14px 20px 14px 20px;
}

.nav-first nav ul, .nav-second nav ul {
    list-style: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-second {
    height: 57px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.contact-header ul li,
.order-header ul li,
.nav-second nav ul li {
    margin: 0px 14px 0px 14px;
}

#banner img {
    height: 640px;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%  12%; 
    gap: 3rem;
    background-color: rgba(255,188,13,255);
    font-family: Arial, Helvetica, sans-serif;
}

.footer-top img {
    width: 5rem;
    height: 5rem;
}

.footer-top-text {
    font-size: small;
    color: #292929;
}

h2 {    
    font-weight: bolder;
    font-size:xx-large;
}

.btn-baixe-agora {
    padding: 0.7rem 1.4rem;
    background-color: white;
    border-radius: 4px;
    text-decoration: none;
    color: #292929;
    margin-left: 12%;
    white-space: nowrap; 
    font-size:small
}

.btn-baixe-agora:hover{ background-color: rgb(247, 247, 247); }

.footer-mid {
    display: flex;
    justify-content: flex-start;
    padding: 5% 0 0 12%;
    gap: 3%;
}
.quem-somos, .familia, .mequi-pra-voce, .contato {
    display: flex;
    flex-direction: column;
}

.quem-somos-item, .familia-item, .mequi-pra-voce-item, .contato-item {
    color: lightgray;
    text-decoration: none;
}

.quem-somos a:first-child, .familia a:first-child, .mequi-pra-voce a:first-child, .contato a:first-child {
    font-weight: 500;
    color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5rem;
}

.quem-somos a, .familia a, .mequi-pra-voce a, .contato a {
    font-weight: 400;
    color: #6f6f6f;    
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.8rem;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
}

.footer-bottom-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid  0.5px #d6d6d6; 
    margin-top: 4%;
    padding-bottom: 3%;
}

.footer-bottom-upper-app_stores a{
    display: flex;
    justify-content: end;
}

.footer-bottom-upper-app_stores a img{
    width: 6rem;
    height: 2rem;
}

.footer-bottom-upper-app_stores {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-bottom-upper ul {
    display: flex;
    gap: 0.7rem;
    list-style-type: none;  
}

.fa {
    color: #6f6f6f;
    padding: 0.3rem;
    border: solid 0.1rem #6f6f6f;
    border-radius: 50%;
    width: 1rem;
    text-align: center;
}

.fa-facebook:hover, .fa-instagram:hover, 
.fa-twitter:hover, .fa-youtube-play:hover {
    color: white;
}

.fa-facebook:hover{
    background-color: #4267B2;
    border-color: #4267B2;
}

.fa-instagram:hover{
    background-color: #E1306C;
    border-color: #E1306C;
}

.fa-twitter:hover{
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.fa-youtube-play:hover{
    background-color: #da0000;
    border-color: #da0000;
}

.footer-bottom-lower {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-lower span img{ width: 3rem; }

.footer-bottom-lower span a, .footer-bottom-lower span{
    font-weight: 300;
    font-size: small;
    color: #6f6f6f;    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.footer-bottom-lower span:first-child, #mc-trade_mark {
    display: flex;
    align-items: center;
}

.footer-bottom-lower span:first-child{ gap: 2rem; }

span a:hover { color: #3a3a3a; }
